# Ignore virtual environment
venv/

# Ignore Replit-related files
.replit
replit.nix
replit.nix.lock

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables
.env

# Ignore package lock files
uv.lock
